---
import Jeans01 from '../../images/jeans01.jpg'
import Jeans02 from '../../images/jeans02.jpg'
import Jeans03 from '../../images/jeans03.jpg'
import Jeans04 from '../../images/jeans04.jpg'
import Jeans05 from '../../images/jeans05.jpg'
import Jeans06 from '../../images/jeans06.jpg'
import Jeans07 from '../../images/jeans07.jpg'
import Jeans08 from '../../images/jeans08.jpg'
import Jeans09 from '../../images/jeans09.jpg'
import Jeans10 from '../../images/jeans10.jpg'
import Jeans11 from '../../images/jeans11.jpg'
import Jeans12 from '../../images/jeans12.jpg'
import Jeans13 from '../../images/jeans13.jpg'
import Jeans14 from '../../images/jeans14.jpg'
import '../styles/Pants-Jeans-BoyPg.css'
---

<div class="container contenedor-jeans-boy">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans01.src} class="w-100" alt="">
                <figcaption>
                    <p>WIDE FIT JEANS</p>
                    <p>PEN 119.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans02.src} class="w-100" alt="">
                <figcaption>
                    <p>RELAXED FIT PANTS</p>
                    <p>PEN 139.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans03.src} class="w-100" alt="">
                <figcaption>
                    <p>WIDE FIT JEANS</p>
                    <p>PEN 119.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans04.src} class="w-100" alt="">
                <figcaption>
                    <p>FLOCKED JOGGER PANTS</p>
                    <p>PEN 79.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans05.src} class="w-100" alt="">
                <figcaption>
                    <p>SPORTY JOGGING PANTS</p>
                    <p>PEN 79.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans06.src} class="w-100" alt="">
                <figcaption>
                    <p>FLOCKED JOGGER PANTS</p>
                    <p>PEN 79.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans07.src} class="w-100" alt="">
                <figcaption>
                    <p>FLOCKED JOGGER PANTS</p>
                    <p>PEN 79.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans08.src} class="w-100" alt="">
                <figcaption>
                    <p>FLOCKED JOGGER PANTS</p>
                    <p>PEN 79.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans09.src} class="w-100" alt="">
                <figcaption>
                    <p>RIBBED PANTS</p>
                    <p>PEN 139.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans10.src} class="w-100" alt="">
                <figcaption>
                    <p>RIBBED PANTS</p>
                    <p>PEN 139.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans11.src} class="w-100" alt="">
                <figcaption>
                    <p>BASIC CHINO PANTS</p>
                    <p>PEN 95.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans12.src} class="w-100" alt="">
                <figcaption>
                    <p>TEXTURED SUIT PANTS</p>
                    <p>PEN 169.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans13.src} class="w-100" alt="">
                <figcaption>
                    <p>RELAXED FIT PANTS</p>
                    <p>PEN 139.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={Jeans14.src} class="w-100" alt="">
                <figcaption>
                    <p>WIDE FIT JEANS</p>
                    <p>PEN 119.00</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
