---
import Tops01 from "../../images/tops01.jpg";
import Tops02 from "../../images/tops02.jpg";
import Tops03 from "../../images/tops03.jpg";
import Tops04 from "../../images/tops04.jpg";
import Tops05 from "../../images/tops05.jpg";
import Tops06 from "../../images/tops06.jpg";
import Tops07 from "../../images/tops07.jpg";
import Tops08 from "../../images/tops08.jpg";
import Tops09 from "../../images/tops09.jpg";
import "../styles/TopsPg.css";
---

<div class="container-fluid contenedor-tops">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <figure>
                <img src={Tops01.src} class="w-100" alt="" />
                <figcaption>
                    <p>HALTER TOP WITH BACK STRAPS</p>
                    <p>PEN 139.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 py-5 mx-auto">
                <h4>TOPS FOR WOMEN TO COMPLETE ANY OUTFIT</h4>
                <p>
                    Our collection of women’s tops has something to balance with
                    every outfit, whether you prefer off-the-shoulder styles,
                    halternecks, camisoles, or knitted jersey t-shirts. Classic
                    black, white, pink, and navy block colors sit alongside
                    everything from sequin tops to statement animal prints, to
                    original slogan T-shirts this season. Have fun figuring out
                    your next look.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto py-5">
                <figure>
                    <img src={Tops02.src} class="w-100" alt="" />
                    <figcaption>
                        <p>STRAPLESS TOP</p>
                        <p>PEN 149.00</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mx-auto py-5">
                <figure>
                    <img src={Tops03.src} class="w-100" alt="" />
                    <figcaption>
                        <p>STRAPLESS DRAPED TOP</p>
                        <p>PEN 139.00</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <figure>
                <img src={Tops04.src} class="w-100" alt="" />
                <figcaption>
                    <p>TIED CROP SHIRT</p>
                    <p>PEN 139.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mx-auto py-5">
                <figure>
                    <img src={Tops05.src} class="w-100" alt="" />
                    <figcaption>
                        <p>STRIPED SWEATSHIRT</p>
                        <p>PEN 199.00</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="tops-juntos col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <figure>
                <img src={Tops06.src} class="w-100" alt="" />
            </figure>
        </div>
        <div class="tops-juntos col-xl-6 col-lg-6 col-md-6 col-sm-6">
            <figure>
                <img src={Tops07.src} class="w-100" alt="" />
            </figure>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mx-auto">
                <figure>
                    <img src={Tops08.src} class="w-100" alt="" />
                    <figcaption>
                        <p>MOCK NECK KNIT SWEATER</p>
                        <p>PEN 109.00</p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mx-auto">
                <figure>
                    <img src={Tops09.src} class="w-100" alt="" />
                    <figcaption>
                        <p>MOCK NECK KNIT SWEATER</p>
                        <p>PEN 109.00</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
