---
import TShirts01 from '../../images/t-shirts01.jpg'
import TShirts02 from '../../images/t-shirts02.jpg'
import TShirts03 from '../../images/t-shirts03.jpg'
import TShirts04 from '../../images/t-shirts04.jpg'
import TShirts05 from '../../images/t-shirts05.jpg'
import TShirts06 from '../../images/t-shirts06.jpg'
import TShirts07 from '../../images/t-shirts07.jpg'
import TShirts08 from '../../images/t-shirts08.jpg'
import TShirts09 from '../../images/t-shirts09.jpg'
import TShirts10 from '../../images/t-shirts10.jpg'
import TShirts11 from '../../images/t-shirts11.jpg'
import TShirts12 from '../../images/t-shirts12.jpg'
import TShirts13 from '../../images/t-shirts13.jpg'
import TShirts14 from '../../images/t-shirts14.jpg'
import '../styles/TShirtsPg.css'
---

<div class="container contenedor-tshirts">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={TShirts01.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mx-auto">
            <h4>T-SHIRTS FOR MEN</h4>
            <p>One can never have too many t-shirts, so Zara's menswear collection has considered men's t-shirts of all kinds, from the must-have plain t-shirt to special versions like the graphic t-shirt or the knit tee. Among the basic t-shirts, you can always count on a white t-shirt to build outfits with that trendy, clean aesthetic that's as modern as equally timeless. A black t-shirt will give this trend a spin while keeping the neat feeling that it naturally has. For an extra dose of warmth, you can always rely on a long-sleeved t-shirt to save a casual look, and it's also a great piece to step up your layering game. When looking for statement pieces, a printed T-shirt brings such a strong personality to an outfit that there's no need to accessorize it that much. In contrast, an oversized t-shirt is the ideal comfy option to finish with some of your favorite complements.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts02.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts03.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts04.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts05.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts06.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts07.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts08.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <figure>
                <img src={TShirts09.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mx-auto">
            <figure>
                <img src={TShirts10.src} class="imagen-tshirts" alt="">
                <figcaption>
                    <p>STRIPED JACQUARD T-SHIRT</p>
                    <p>PEN 149.00</p>
                </figcaption>
            </figure>
        </div>
    </div>

</div>